/* --- General --- */
html {
    background-color: #001A29;
}

body, html, p {
    padding: 0;
    margin: 0;
    font-family: Avenir-Next-Condensed;
    font-size: 18px;
    color: white;
    line-height: 32px;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
    margin: 0 -12px;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.inner-content {
    max-width: 1160px;
    padding: 0 128px;
    margin: 0 auto;
}



.inner-block {
    display: flex;
}


.block {
    padding: 40px 0;
}

.block-row {
    flex: 100%;
}

.block-40 {
    flex-basis: 40%;
}

.block-50 {
    margin-right: 52px;
    flex-basis: 50%;
}

.block-60 {
    flex-basis: 60%;
}

.button {
    padding-top: 20px;
}

.outlier input {
    background: #00C9F8;
    border-radius: 6px;
    font-size: 22px;
    color: #001A29;
    padding: 10px 15px;
    font-family: big-caslon-fb, serif;
    font-style: normal;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}

h1 {
    font-family: big-caslon-fb, serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    margin:0;
}

h2 {
    font-family: big-caslon-fb, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    margin:0;
}

h3 {
    font-family: din-condensed, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin:0;
    padding-top: 22px;
    padding-bottom: 8px;
    text-transform: uppercase;
}

/* --- Hero --- */
.hero {
    height: 550px;
    background-size: cover;
}

.hero-content {
    padding-top: 240px;
    font-size: 20px;
    text-align: right;
}

/* --- Background --- */
.background {
    background-color: white;
    color: black;
}

.background h2 {
    color: black;
}

.background p {
    color: black;
}

/* --- Corpus --- */

.figure {
    height: 550px;
    width: 100%;
    background-size: cover;
    margin: 90px 0;
}

/* --- Metrics --- */
.metrics .inner-block {
    display: flex;
}

.metrics .img {
    margin-left: -30px;
}

/* --- Regression --- */
.regression {
    background-color: #191F26;
}

.regression img {
    width: 100%;
}

/* --- Outliers --- */
.outliers img {
    width: 100%;
}

/* --- Classification --- */
.buttons {
    text-align: right;
    margin-right: 70px;
}

.circle-button {
    display: inline-block;
}
.circle-button input {
    background: #00121C;
    border-radius: 200px;
    font-size: 16px;
    height: 34px;
    width: 34px;
    text-align: center;
    font-family: din-condensed, sans-serif;
    font-style: normal;
    color: #2E3E47;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}

.circle-button-active input {
    color: #00C9F8;
}

.ssm-specific h3 a {
    opacity: 0.5;
    margin-right: 12px;
    cursor: pointer;
}

.ssm-specific h3 a.active {
    opacity: 1;
}

/* --- Chordogram --- */

.chordogram img {
    width: 100%;
}

.chordogram .inner-block {
    align-items: center;
}

/* --- Mobile --- */
@media(max-width: 948px) {
    .inner-block {
        display: block;
    }

    .metrics .inner-block {
        display: block;
    }

    .inner-content {
        padding: 0 36px;
    }

}