{% extends "_layout" %}

{% block content %}
    {% for block in entry.body.all() %}
        {% if block.type == "hero" %}
            <div class="inner-content">
                <div class="hero" style="background-image: url({{ block.image.one().url }})">
                    <div data-aos="fade-left">
                        <div class="hero-content">
                            <h1>{{ entry.title }}</h1>
                            <h3>{{ block.subtitle }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if block.type == "background" %}
            <div class="background">
                <div class="inner-content">
                    <div class="block">
                        <h2>{{ block.titel }}</h2>
                        <div class="inner-block">
                            <div class="block-50">
                                <h3>{{ block.column1Subtitle }}</h3>
                                <p>{{ block.column1Text }}</p>
                            </div>
                            <div class="block-50">
                                <h3>{{ block.column2Subtitle }}</h3>
                                <p>{{ block.column2Text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if block.type == "corpus" %}
            <div class="inner-content">
                <div class="block">
                    <h2>{{ block.titel }}</h2>
                    <div class="inner-block">
                        <div class="block-row">
                            <h3>{{ block.subtitel }}</h3>
                            <p>{{ block.text }}</p>
                        </div>
                    </div>
                    <div class="inner-block">
                        <div class="block-row">
                            <div data-aos="fade-up"
                                 data-aos-anchor-placement="top-bottom">
                                <img src="{{ block.image.one().url }}" alt="Figure 1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        {% endif %}

        {% if block.type == "metrics" %}
            <div class="metrics">
                <div class="inner-content">
                    <div class="block">
                        <div class="inner-block">
                            <div class="block-50">
                                <div data-aos="fade-right"
                                     data-aos-easing="ease-in-sine">
                                    <img src="{{ block.figure1.one().url }}" alt="Figure 2">
                                </div>
                            </div>
                            <div class="block-50">
                                <h2>{{ block.titel }}</h2>
                                <h3>{{ block.subtitel1 }}</h3>
                                <p>{{ block.text1 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if block.type == "regression" %}
            <div class="inner-content">
                <div class="block">
                    <h2>{{ block.titel }}</h2>
                    <div class="inner-block">
                        <div class="block-row">
                            <h3>{{ block.subtitel1 }}</h3>
                            <p>{{ block.text1 }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="regression">
                <div class="inner-content">
                    <div class="block">
                        <div data-aos="flip-down">
                            <div class="inner-block">
                                <div class="block-50">
                                    <img src="{{ block.figure1.one().url }}" alt="Pop Music Regression Analysis">
                                </div>
                                <div class="block-50">
                                    <img src="{{ block.figure2.one().url }}" alt="The Neptunes Regression Analysis">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inner-content">
                <div class="block">
                    <div class="inner-block">
                        <div class="block-row">
                            <h3>{{ block.subtitel2 }}</h3>
                            <p>{{ block.text2 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if block.type == "outliers" %}
            <div class="inner-content">
                <div class="block">
                    <div class="inner-block">
                        <div class="block-50">
                            <img id="chromagram" src="{{ block.figure1.one().url }}">
                        </div>
                        <div class="block-50">
                            <h2>{{ block.titel }}</h2>
                            <h3>{{ block.subtitel }}</h3>
                            <p>{{ block.text }}</p>
                            <div class="button"><input type="button" onclick="pictureChange()" value="Change Chromogram"></div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function pictureChange()
                {
                    document.getElementById('chromagram').src="{{ block.figure2.one().url }}";
                }
            </script>
        {% endif %}

    {% endfor %}
{% endblock %}