{% extends "_layout" %}

{% block content %}
    {% for block in entry.body.all() %}
        {% if block.type == "hero" %}
            <div class="inner-content">
                <div class="hero" style="background-image: url({{ block.image.one().url }})">
                    <div class="hero-content">
                        <h1>{{ entry.title }}</h1>
                        <h3>{{ block.subtitle }}</h3>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if block.type == "background" %}
            <div class="background">
                <div class="inner-content">
                    <div class="block">
                        <h2>{{ block.titel }}</h2>
                        <div class="inner-block">
                            <div class="block-50">
                                <h3>{{ block.column1Subtitle }}</h3>
                                <p>{{ block.column1Text }}</p>
                            </div>
                            <div class="block-50">
                                <h3>{{ block.column2Subtitle }}</h3>
                                <p>{{ block.column2Text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if block.type == "corpus" %}
            <div class="inner-content">
                <div class="block">
                    <h2>{{ block.titel }}</h2>
                    <div class="inner-block">
                        <h3>{{ block.subtitel }}</h3>
                        <p>{{ block.text }}</p>
                        <div class="figure" style="background-image: url({{ block.image.one().url }})">
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}